body {
    font-family: fangsong;
    /* color: #3c4146; */
    background: #242424;
    color: white;
    font-size: 22px;
    overflow-x: hidden;
    padding: 2% 1%;

    /* margin-left: 5%;; */
    /* margin-right: 5%;; */
}

.header {
    position: fixed;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
    width: 100%;
    /* height: 10% !important; */
    border-bottom: 1px solid gray;
    z-index: 10000;
    background: black;
    padding: 3px 6px;
    top: 0;
    left: 0;}

.contents {
    padding-top: 0.5%;
    margin-top: 2.5%;
    /* padding-left: 2%; */
}
.caps {
    font-size: 38px;
}

.image-gallary {
    display: flex;
    flex-wrap: wrap;
}

.img-thumbnail {
    position: relative;
    margin: 5px;
    cursor: pointer;
    /* cursor:zoom-in; */
}

.img-info {
    position: absolute;
    background: black;
    color: white;
    width: 100%;
    bottom: 0;
    opacity: 0.75;
    padding: 6px;
    margin: 2px 0;
    display: none
}

/* @keyframes highlight{from{opacity: 1}to{opacity: 0.9}}   */
@keyframes highlight{from{}to{transform: scale(1.01);}}  

.img-thumbnail:hover {
    /* animation: highlight 0.5s 1 forwards; */
    /* transform: scale(1.01); */
    opacity: 0.9;
    
}

.img-thumbnail:hover .img-info {
    display: block;
}

.images-small {
    height: 280px;
    /* width: 300px; */
}

.error-message {
    color: orange !important
}

a, a:visited {
    color: inherit;
    text-decoration: underline;
  }
  
.search-container {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}
.search-bar {
    width: 68%;
    float:left;
}

.search-bar input {padding: 5px;
    width: 100%;
    background: rgb(36, 36, 36);
    color: white;
    margin: 4px;
    font-size: 20px;
}
input:focus, button:focus, select:focus {
    outline: none !important;
    border: none;
    /* border-bottom:1px solid white; */
    box-shadow: 0px 0px 0px 2px white;
  }

.search-results {
    position: relative;
}

.search-results #results-list {
    width: 100%;
    position: absolute;
    z-index: 1000;
    background: #242424;
    color: white;
    padding: 6px;
    opacity: 0.9;
}

#results-list div {
    opacity: 1;
    padding: 2px;
}
#results-list div:hover {
    opacity: 1;
    font-weight: bold;
}

.filters {
    display: flex;
    width: 30%;
    flex-direction: row-reverse;
}

#sort-filter, #color-filter {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    font-size: 18px;
}

#footer-msg {
    margin: 60px 0;
    /* font-size: 22px; */
}

.hidden {display: none;}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

@keyframes fadein{from{opacity: 0}to{opacity: 1;}}  

.animate-enter {
    animation: fadein 2s 1 forwards;
    /* transform: scale(1.01); */
    /* opacity: 0.9; */
    
}